<style>
  .row-hl {
    background: #f4f4f4;
    height: 250px;
  }

  .item-hl {
    border: 1px solid #333;
  }
</style>
<!-- FLEX ROW & FLEX ITEMS -->
<div class="row-hl d-flex">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- FLEX ROW REVERSE -->
<div class="row-hl d-flex flex-row-reverse">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- JUSTIFY CONTENT - CONTENT START -->
<div class="row-hl d-flex justify-content-start">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- JUSTIFY CONTENT - CONTENT CENTER -->
<div class="row-hl d-flex justify-content-center">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- JUSTIFY CONTENT - CONTENT END -->
<div class="row-hl d-flex justify-content-end">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- JUSTIFY CONTENT - CONTENT AROUND -->
<div class="row-hl d-flex justify-content-around">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- JUSTIFY CONTENT - CONTENT BETWEEN -->
<div class="row-hl d-flex justify-content-between">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- FLEX COLUMN -->
<div class="row-hl d-flex flex-column">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- FLEX COLUMN REVERSE -->
<div class="row-hl d-flex flex-column-reverse">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- VERTICAL ALIGN ITEMS - START -->
<div class="row-hl d-flex align-items-start">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- VERTICAL ALIGN ITEMS - CENTER -->
<div class="row-hl d-flex align-items-center">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- VERTICAL ALIGN ITEMS - END -->
<div class="row-hl d-flex align-items-end">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- VERTICAL ALIGN ITEMS - BASELINE -->
<div class="row-hl d-flex align-items-baseline">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- VERTICAL ALIGN ITEMS - STRETCH -->
<div class="row-hl d-flex align-items-stretch">
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
  <div class="p-4 item-hl">Flex Item</div>
</div>

<br />
<br />

<!-- ALIGN SELF -->
<div class="row-hl d-flex">
  <div class="align-self-start p-4 item-hl ">Flex Item</div>
  <div class="align-self-center p-4 item-hl ">Flex Item</div>
  <div class="align-self-end p-4 item-hl ">Flex Item</div>
  <div class="align-self-baseline p-4 item-hl ">Flex Item</div>
  <div class="align-self-stretch p-4 item-hl ">Flex Item</div>
</div>

<div style="margin-top:500px;"></div>
