<!-- POPOVER -->
<button
  class="btn btn-danger"
  data-toggle="popover"
  data-placement="top"
  data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, aliquid."
>
  Toggle popover
</button>

<button
  class="btn btn-primary"
  data-toggle="popover"
  data-placement="right"
  data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, aliquid."
>
  Toggle popover
</button>

<button
  class="btn btn-warning"
  data-toggle="popover"
  data-placement="bottom"
  data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, aliquid."
>
  Toggle popover
</button>

<button
  class="btn btn-info"
  data-toggle="popover"
  data-placement="left"
  data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, aliquid."
>
  Toggle popover
</button>

<br />
<br />

<!-- DISMISSIBLE POPOVER -->
<button
  class="btn btn-primary"
  data-toggle="popover"
  data-placement="left"
  data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, aliquid."
  data-trigger="focus"
>
  Toggle popover
</button>

<hr />

<!-- CONTROL WITH JS -->
<button class="btn btn-secondary">Show Popover</button>
<button class="btn btn-secondary">Hide Popover</button>
<button class="btn btn-secondary">Toggle Popover</button>

<div style="margin-top:500px;"></div>
