<!-- TOOLTIPS -->
<button
  class="btn btn-primary"
  data-toggle="tooltip"
  data-placement="top"
  title="tooltip top"
>
  Tooltip On Top
</button>
<button
  class="btn btn-success"
  data-toggle="tooltip"
  data-placement="right"
  title="tooltip right"
>
  Tooltip On Right
</button>
<button
  class="btn btn-warning"
  data-toggle="tooltip"
  data-placement="bottom"
  title="tooltip bottom"
>
  Tooltip On Bottom
</button>
<button
  class="btn btn-danger"
  data-toggle="tooltip"
  data-placement="left"
  title="tooltip left"
>
  Tooltip On Left
</button>

<br />
<br />

<!-- TOOLTIPS WITH HTML -->
<button
  class="btn btn-primary"
  data-toggle="tooltip"
  data-html="true"
  data-placement="right"
  title="<h3>tooltip right</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, aliquid.</p>"
>
  Tooltip On With HTML
</button>
<hr />

<!-- TRIGGER WITH JS -->
<button class="btn btn-secondary">Show Tooltip</button>

<button class="btn btn-secondary">Hide Tooltip</button>

<button class="btn btn-secondary">Toggle Tooltip</button>

<div style="margin-top:500px;"></div>
